@model IEnumerable<Leave_Request_Form.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateModal">
        Create
    </button>
    <div class="modal fade" id="CreateModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

               
                <div class="modal-header">
                    <h5 class="modal-title">Create Employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <form asp-action="Create" asp-controller="Employees" method="post">
                   

                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" name="Name" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Family</label>
                            <input type="text" name="Family" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Comment</label>
                            <textarea name="Description" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Boss Number</label>
                            <textarea name="BossID" class="form-control"></textarea>
                        </div>
                      

                        <div class="modal-footer px-0">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                Exit
                            </button>

                            <button type="submit" class="btn btn-success">
                                Add Employee
                            </button>
                        </div>

                    </form>

                </div>
            

            </div>
        </div>
    </div>
  
</p>
<table class="table">
    <thead>
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Family)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BossID)
        </th>
        @*   <th>
                @Html.DisplayNameFor(model => model.IsRemoved)
            </th> *@
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (item.IsRemoved == false)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Family)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BossID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRemoved)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeID">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
